<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tee Time</title>
	 <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    {{!-- jquery ui tag --}}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    {{!-- custom css --}}
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    {{!-- favicon --}}
    <link rel="shortcut icon" href="../../assets/img/green.ico" type="image/x-icon">
    {{!-- jquery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	{{!-- ui jquery --}}
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	{{!-- moment.js --}}
	 <script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
</head>
<body class="hndlbkgrd">
	{{{ body }}}
</body>
</html>