a:link, a:visited {
    color: white;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

#log_in {
	position: relative;
	top: 50%;
	left: 50%;
}

.teesheet {
	border-style: solid;
	border-color: black;
	border-width: 2px;
	height: 80%;
	width: 80%;
}
.ui-dialog .ui-state-error { 
	padding: .3em; 
}

.validateTips { 
	border: 1px solid transparent; padding: 0.3em; 
}

.background {
	background-image: url('../img/tyson-dudley-122441.jpg');
	background-size: 100% 200%;
    background-repeat: no-repeat;
}

.hndlbkgrd {
	background-image: url('../img/viktor-kiryanov-101458.jpg');
	background-size: 100% 200%;
	background-repeat: no-repeat;
}

.card-header {
	background-color: #076652;
	color: white;
}

#teetimes {
	overflow: scroll;
	height: 700px;
	background-color: white;
}

.header {
	/*color: white;*/
	text-align: center;
}

#edit {
	left: 80%;
	position: absolute;
}

.content-block {
	background-color: #ffffff;
	padding: 10px;
}

.email-form-box {
	width: 400px !important;
	margin-right: 10px;
}

#view-roster {
	margin-top: 20px;
}

.add-member-form {
	margin-top: 10px;
}

.modal-backdrop {
   background: none;
}

.modal-open .account-info {
    -webkit-filter: blur(5px) grayscale(90%);
}
